<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/information.css}" type="text/css" rel="stylesheet" />

</head>

<body>
<div>
    <div class="header">
        <div class="grid">
            <div class="header-grid">
                <div>
                    <button class="btn-home">home</button>
                </div>
                <div class="header-image"
                     th:style="'background-image:url(' + ${users.getAvatar()} + ');'">
                    <div class="input-group mb-3">
                        <form th:action="@{saveimage}" method="post" id="saveimageform" enctype="multipart/form-data">
                        <label class="input-group-text choosefile" for="inpFile">đổi ảnh đại
                            diện</label>
                        <input class="form-control" type="file" id="inpFile"
                               name="inpFile" hidden />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            <div class="grid__row app__content">
                <div class="grid__column-2">
                    <nav class="category">

                        <ul class="category-list">
                            <li class="categori-item category-item--active">
                                <a href="#" class="category-item__link">lượt theo dõi</a>
                            </li>
                            <li class="categori-item">
                                <a href="#" class="category-item__link">đang theo dõi</a>
                            </li>
                            <li class="categori-item">
                                <a href="#" class="category-item__link">lịch sử mua hàng</a>
                            </li>

                        </ul>
                    </nav>
                </div>


                <div class="grid__column-10">

                    <div class="home-product">
                        <div class="grid__row">
                            <div class="grid__column-2-4" style="width: 80%;">
                                <div class="information">
                                    <h1 th:text="${users.getName()}">name</h1>
                                    <p th:text="${users.getBirthday()}">birtday</p>
                                    <p th:text="${users.getEmail()}">email</p>
                                    <p th:text="${users.getPhone()}">phone</p>
                                    <p th:text="${users.getAddress()}">dia chi</p>
                                </div>
                                <div class="information1">
                                    <button onclick="saveinformation()" class="chinhsuathongtin">chỉnh sửa thông
                                        tin</button>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
<div id="model-auth" class="modal auth-hidden">
    <div onclick="backcancel()" class="modal__overlay"></div>
    <div class="modal__boby">
        <div class="auth-form">
            <form action="action" id="saveform" class="auth-form__container">
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input th:value="${users.name}" type="text" class="auth-form__input" name="name" placeholder="nhap name cua ban">
                    </div>
                    <div class="auth-form__group">
                        <input th:field="${users.birthday}" class="auth-form__input"
                               placeholder="nhap birthday cua ban" type="date" id="birthday" name="birthday">
                    </div>
                    <div class="auth-form__group">
                        <input th:value="${users.email}" type="text" class="auth-form__input" name="email" placeholder="nhap email cua ban">
                    </div>
                    <div class="auth-form__group">
                        <input th:value="${users.phone}" type="text" class="auth-form__input" name="phone" placeholder="nhap phone cua ban">
                    </div>
                    <div class="auth-form__group">
                        <input th:value="${users.address}" type="text" class="auth-form__input" name="address" placeholder="address cua ban">
                    </div>
                </div>
                <div class="auth-from__controls">
                    <button type="button" onclick="controlsBack()"
                            class="btn auth-from__controls-back home-filter__btn btn--normal">Trở Lại</button>
                    <button type="submit" form="saveform" class="btn home-filter__btn btn--primary">Lưu Thay
                        Đổi</button>
                </div>
            </form>
        </div>


    </div>

</div>

<div id="model-image" class="modal auth-hidden">
    <div onclick="backcancel()" class="modal__overlay"></div>
    <div class="modal__boby">
        <div class="auth-form">

                <div class="auth-form__form">
                    <div class="auth-form__group image-preview" id="imagePreview">
                        <img src="" alt="" class="image-preview__image">
                        <span class="image-preview__default-text">Image Preview</span>
                    </div>

                </div>
                <div class="auth-from__controls">
                    <button type="button" onclick="imagecancel()"
                            class="btn auth-from__controls-back home-filter__btn btn--normal">hủy
                        bỏ</button>
                    <button type="submit" form="saveimageform" class="btn home-filter__btn btn--primary">Lưu Thay
                        Đổi</button>
                </div>

        </div>


    </div>

</div>

<script src="/js/information.js"></script>
</body>

</html>